.tools-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.tools-list li {
  margin-top: 12px;
  color: #666;
  font-size: 0.9em;
}

.tools-list a {
  color: #333;
  text-decoration: none;
}

.tools-list a:hover {
  text-decoration: underline;
}
